.title {
  color: black;
  font-size: 30px;
  padding-left: 30px;
  font-family: Julius Sans One, sans-serif;
}

.banner {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.hr {
  border: 0;
  height: 3px;
  background: #ff0000;
  margin-left: 4px;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  gap: 40px;
  margin: 40px 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.estrela {
  color: #dfae10;
  font-size: 20px;
}

.card {
  border: 1px solid rgb(224, 223, 223);
  border-radius: 10px;
  padding: 15px;
  width: 350px;
  height: 430px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.imageWrapper {
  width: 100%;
  height: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tenis {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  margin-top: 10px;
  font-size: 18px;
  font-family: Julius Sans One, sans-serif;
  font-weight: bold;
  color: #000;
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: Julius Sans One, sans-serif;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #ff0000;
}


@media (max-width: 400px), (max-height: 653px) {
  .container {
    gap: 10px;
    justify-content: center;
    padding: 0 10px; 
  }

  .card {
    width: 100%;
    max-width: 300px; 
    height: auto; 
  }

  .imageWrapper {
    height: auto; 
  }

  .tenis {
    width: 100%;
    height: auto;
  }

  .button {
    width: 100%; 
    text-align: center;
  }

  .title {
    font-size: 1.2rem;
    padding-left: 10px;
  }

  .price {
    font-size: 16px;
  }
}
