@font-face {
  font-family: "Biro";
  src: url('../../assets/fonts/BiroScriptPlus.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  align-items: stretch;
}


.firstman,
.secondman {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (min-width: 1080px) {

  .text {
    width: 50%;                 
    padding: 0 clamp(20px, 4vw, 60px);
  }

  .p {
    font-size: clamp(50px, 12vw, 70px);  
  }

  .h3 {
    font-size: clamp(40px, 5vw, 60px);  
  }

  .p2 {
    font-size: clamp(20px, 3vw, 32px);
  }

  .span {
    font-size: clamp(22px, 4vw, 36px);
  }

  .button {
    font-size: clamp(18px, 2.5vw, 26px);
    padding: clamp(18px, 3vw, 30px) clamp(30px, 5vw, 50px);
  }

  .firstman,
  .secondman {
    width: 30%;
  }

  .secondman {
    display: block;
  }
}


@media (max-width: 732px) {
  .container {
    flex-direction: column;
  }

  .secondman {
    display: none;
  }

  .firstman {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .text {
    width: 100%;
    order: -1; 
  }
}


@media (min-width: 733px) and (max-width: 921px) {
  .text {
    width: 33%;
  }
  .firstman {
    width: 33%;
  }
  .secondman {
    width: 33%;
    display: block;
  }


}


.text {
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  padding: 0 clamp(10px, 3vw, 40px);
  box-sizing: border-box;
}

.p {
  color: red;
  font-weight: 700;
  font-size: clamp(40px, 12vw, 45px);
  line-height: 0.9;
  margin: 40px 0 0 0;
}

.h3 {
  font-size: clamp(30px, 10vw, 52px);
  margin-top: 5px;
}

.hr {
  width: clamp(100px, 40vw, 340px);
  border: 2px solid red;
  margin: 15px 0 5px 0;
  width: 54%;
}

.p2 {
  text-align: left;
  font-size: clamp(16px, 3vw, 30px);
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.span {
  color: red;
  font-weight: 700;
  font-family: Biro;
  font-size: clamp(18px, 4vw, 30px);
}

.button {
  background-color: rgb(208, 206, 206);
  color: rgb(0, 0, 0);
  border: none;
  font-weight: 700;
  border-radius: 80px;
  padding: clamp(15px, 3vw, 25px) clamp(25px, 6vw, 42px);
  margin: 20px 0 0 0;
  font-size: clamp(16px, 4vw, 20px);
  cursor: pointer;
  font-family: "julius Sans One", sans-serif;
  transition: 0.4s ease-in;
  margin-bottom: clamp(40px, 8vw, 80px);
  display: inline-block;
}

.button:hover {
  background-color: #ff0000;
  color: white;
}
