.selecoesLoja {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.title {
  color: black;
  font-size: 30px;
  padding-left: 30px;
  font-family: Julius Sans One, sans-serif;
}


.hr {
  border: 0;
  height: 3px;
  background: #ff0000;
  margin-left: 4px;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

  h1 {
    font-size: 30px;
    font-weight: 550;
    line-height: 1.1;
    font-family: "Inter", sans-serif;
  }

  h2 {
    font-size: 28px;
    font-family: "Inter", sans-serif;

    span {
      color: #ff4081;
      text-transform: uppercase;
    }
  }

  h5 {
    font-size: 16px;
    margin-top: 10px;
    font-family: "Inter", sans-serif;

    i {
      margin-left: 5px;
    }
  }


.page2 {
  display: flex;
  justify-content: center;
  margin: 30px 0;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.trendingProduct {
  padding: 50px 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.product {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  text-align: center;

  img {
    width: 100%;
    height: 700px;      
    object-fit: cover;   
    border-radius: 10px;
    transition: all 0.4s;
  }

  img:hover {
    transform: scale(0.9);
  }

  .coracao {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .coracao:hover {
    color: red;
  }

  .estrela {
    margin: 5px 0;
    i {
      color: #ffc107;
      margin: 0 1px;
    }
  }

  .preco {

    .title {
      font-family: "Julius Sans One", sans-serif;
      font-size: 20px;
      }
    h4 {
      color: #ff4081;
      margin: 5px 0;
      font-family: "Inter", sans-serif;
    }
    p {
      font-weight: 600;
      font-family: "Inter", sans-serif;
    }
  }
}

.botaoCarrinho {
  display: inline-block;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  font-size: 0.9rem;
  padding: 8px 12px;
  background-color: #ff4081;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  margin-bottom: 50px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e73370;
    transform: translateY(-2px);
  }
}

@media (max-width: 400px), (max-height: 653px) {
  .products {
    grid-template-columns: 1fr; 
    gap: 10px;
    padding: 0 10px;
  }

  .product img {
    height: auto; 
    max-height: 300px; 
  }

  .botaoCarrinho {
    width: 100%; 
    text-align: center;
  }
}
