.container {
  position: relative;
  width: 100%;
  height: clamp(60vh, 85vh, 100vh);
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.content {
  position: absolute;
  z-index: 2;
  bottom: clamp(20px, 12vw, 90px);
  left: clamp(15px, 8vw, 90px);

  color: #f0e6e6;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

  h1 {
    font-size: clamp(2rem, 6vw, 4rem);
    font-family: "Julius Sans One", sans-serif;
    font-weight: 600;
  }

  h2 {
    font-size: clamp(1rem, 3.2vw, 2rem);
    margin-top: 10px;
    font-family: "Tajawal", sans-serif;
    animation: fadeIn 2s forwards;
  }

  button {
    margin-top: 20px;
    padding: clamp(8px, 2vw, 14px) clamp(18px, 4vw, 34px);
    background: #e0dddd;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: clamp(1rem, 2vw, 1.3rem);
    transition: 0.3s;

    &:hover {
      background: #1c2fdd;
      color: #fff;
    }
  }
}


@media (max-width: 768px) {
  .content {
    left: 20px;
    bottom: 60px;
    text-align: left;
    width: 80%;
  }
}

/* TABLET */
@media (min-width: 769px) and (max-width: 1024px) {
  .content {
    left: clamp(30px, 6vw, 70px);
    bottom: clamp(30px, 8vw, 100px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 400px), (max-height: 653px) {
  .container {
    overflow-x: hidden; 
  }

  .content {
    left: 10px; 
    bottom: 20px; 
    width: calc(100% - 20px); 
    text-align: center; 
  }

  .content h1 {
    font-size: 1.8rem;
  }

  .content h2 {
    font-size: 1rem; 
  }

  .content button {
    padding: 6px 12px; 
    font-size: 0.9rem;
  }
}
