@font-face {
    font-family: biro;
    src: url('../../assets/fonts/Biro.ttf') format('truetype');
}

.footer {
    text-align: center;
    font-family: 'biro', sans-serif;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(235, 235, 235);
    color: rgb(7, 7, 7);
    font-weight: bold;

    .socialIcons {
        margin-top: 0px;

        a {
            margin: 0 15px;
            font-size: 24px;
            color: #0e0d0d;
            transition: color 0.3s, transform 0.3s;

            &:hover {
                color: #083a69; 
                transform: scale(1.2);
            }
        }
    }
}
